<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | Orkestro eCommerce</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{{ knp_menu_render('backend_main') }}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>