{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block javascripts -%}
    <script type="text/javascript" src="{{ asset('bundles/orkestroproduct/Backend/Characteristic/product_characteristic_value-prototype.js') }}"></script>
{% endblock %}

{% block body -%}
    <h1>{{ "orkestro.product_characteristic.headers.new"|trans }}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('orkestro_backend_product_characteristic_list') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
